@{
    ViewBag.Title = "Login2";
}

<h2>Login2</h2>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

    <!--<link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />!-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="background-color:#3b5998; height:40px;"><img src="../../content/imgs/facebooklogo.png" style="width:110px;" /><input type="submit" class="btn-success" value="Sign Up" /></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <pre style="margin-left:350px; margin-top:75px; width:500px; height:350px;">Facebook Login
                <center>Login as: <img src="../../content/imgs/rose1.png" style="width:20px;" />Haris Np
                <a href="#">harisnp@gmail.com</a>
                <a href="#">Not Haris?</a>
   Password: <input type="password" /><br />
                <input type="checkbox" />Keep me logged in<br />
                <input type="submit" class="btn-primary" value="Login" />or<a href="#">Signup for Facebook</a><br />
                <a href="#">Forgetten password</a><br /></center></pre>
            </div>
        </div>
    </div>

</body>
</html>

