@{
    ViewBag.Title = "Login1";
}
<h2></h2>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>

    <!--<link rel="stylesheet" type="text/css" href="../../Content/bootstrap/css/bootstrap.css" />!-->
    <link href="../../content/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div>
        <table style="width:250%;">
            <tr style="background-color:#3b5998;">
                <td class="container">
                    <img src="../../content/imgs/facebooklogo.png" style="width:30px;" />
                    <input type="submit" class="btn-success" value="Sign Up" />
                </td>
            </tr>
        </table>
        <pre style="width:350px; height:300px; margin-left:350px; margin-top:50px;">
        <table align="center" cellpadding="10" cellspacing="10"><tr><td><b>Log in to Facebook</b></td></tr>
        <tr align="center"><td><input type="text" placeholder="Email address or phone number" /></td></tr>
        <tr align="center"><td><input type="text" placeholder="Password" /></td></tr>
        <tr align="center"><td><input type="submit" class="btn-primary" value="Log in" /></td></tr>
        <tr align="center" class="btn-link"><td>Forgetten password? sign up for facebook</td></tr> 
    </table></pre>
    </div>

</body>
</html>

