@{
    ViewBag.Title = "Vpage";
}

<h2>Vpage</h2>
@*<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<mvcapplication8.models.modelclass1>
    " %>*@

    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>Vpage</title>
        <link href="../../Content/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <center>
                    <pre style="width:400px; height:480px;">
                    <div class="col-md-12"><img src="../../Content/imgs/facebooklogo.png"  style="width:350px; height:75px;" /><br />
                    <label><h3>Verify Email</h3></label><br />
                    <label>We send an email to test.ct@thisbaab.com to make sure that you own it.Please check your inbox,then follow the instructions to finish setting up  your</label><br />
                    <input type="submit" class="btn-default" style="width:400px; background-color:silver;" value="Resend email" /><br />
                    <a href="#">Terms of Use</a>&nbsp;&nbsp; <a href="#">Privacy & Cookies</a>&nbsp;&nbsp; <a href="#">Signout</a>
    </div></pre>
                </center>
            </div>

        </div>
    </body>
</html>

