.label1
{
    margin-top:-80px;
    margin-left :370px;
}
.label2
{
     margin-top:-80px;
    margin-left:240px;
}
.label3
{
    
    margin-left:1150px;
}
.label4
{
    margin-top:-24px;
    margin-left:1260px;
}
.label_js
{
    margin-top:-60px;
    margin-left:50px;
}
.view_profile_btn
{
    margin-left:70px;
}
.table
{
    border-style:solid;
    border-color:black;
   
}
