#body
{
    background-color:silver;
}
/*#model
{
    margin-left:0px;
    height:100px;
    background-color:red;
}
#model1
{
    margin-left:100px;
    background-color:white;
}
#close
{
    margin-left:100px;
   color:black;
}*/